<ol id="list">
  <li><%= link_to('Авторизация<br />Вконтакте', vkontakte_path, :class => 'one') %></li>
  <li><%= link_to('Авторизация<br />в Твиттер', twitter_path, :class => 'two') %></li>
  <li><%= link_to('Готово!<br />Статистика', sync_path, :class => 'three') %></li>
</ol>
