<h1>Vkontakte auth</h1>

<% if vk_user_loggedin? %>
  Привет, <%= link_to_vk_profile(current_vk_user) %>
  <%= link_to 'Выйти', vkontakte_path, :method => :delete %>
<% else %>
  <%= link_to('Войти в Vkontakte', new_vkontakte_path) %>
<% end %>
